{% set nodes = groups['efk'] | join('", "') %}
{% set nodes_amount = groups['efk'] | length | int %}
{% set dn1, dn2, dn3 = inventory_hostname.split('.') %}
cluster.name: EFK-{{ env | default("unknown", false) }}
node.name: {{ inventory_hostname }}
node.master: true
node.data: true
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
http.port: 9200
cluster.initial_master_nodes: ["{{ nodes }}"]
discovery.seed_hosts: ["{{ nodes }}"]
discovery.zen.minimum_master_nodes: {{ nodes_amount // 2 | int + 1 }}
xpack.security.enabled: false
action.auto_create_index: true
searchguard.enterprise_modules_enabled: false
searchguard.ssl.transport.pemtrustedcas_filepath: {{ tls_dir }}/{{ root_crt }}
searchguard.ssl.http.pemtrustedcas_filepath: {{ tls_dir }}/{{ root_crt }}
searchguard.ssl.transport.pemcert_filepath: {{ tls_dir }}/{{ inventory_hostname }}.pem
searchguard.ssl.transport.pemkey_filepath: {{ tls_dir }}/{{ inventory_hostname }}.key
searchguard.ssl.http.pemcert_filepath: {{ tls_dir }}/{{ inventory_hostname }}_http.pem
searchguard.ssl.http.pemkey_filepath: {{ tls_dir }}/{{ inventory_hostname }}_http.key
searchguard.ssl.transport.enforce_hostname_verification: false
searchguard.ssl.transport.resolve_hostname: false
searchguard.ssl.http.enabled: true
searchguard.nodes_dn:
{% for host in groups['efk'] %}
- CN={{ host }},OU={{ env | capitalize }},O={{ org }},DC={{ dn2 }},DC={{ dn3 }}
{% endfor %}
searchguard.authcz.admin_dn:
- CN={{ sg_user }}.{{ dn2 }}.{{ dn3 }},OU={{ env | capitalize }},O={{ org }},DC={{ dn2 }},DC={{ dn3 }}